  <dl class="my-5 grid grid-cols-1 gap-5 sm:grid-cols-5 mx-2 md:mx-0">
    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Total Items
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_with_delimiter(@collection.assets.count) %>
      </dd>
    </div>
    
    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Total Battles
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= number_with_delimiter(@collection.votes.count) %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        Your Battles
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
      <% if @current_wallet %>
        <%= number_with_delimiter(@collection.votes.where(wallet_id: @current_wallet).count) %>
      <% else %>
        <button data-controller="wallet" data-action="click->wallet#connectWallet" type="button" class="relative w-full items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
        Connect Wallet
        </button>
      <% end %>
      </dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg overflow-hidden sm:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        % of Collection Battled
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @collection.percentage_voted.round(2) %>%
        <div class="relative pt-1">
          <div class="overflow-hidden h-2 text-xs flex rounded bg-purple-200">
              <div style="width:<%= @collection.percentage_voted.round(2) %>%"
                  class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-500">
              </div>
          </div>
        </div>
      </dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg sm:p-6">
      <dt class="text-sm font-medium text-gray-500">
        Ranking Confidence 
        
        <span class='has-tooltip'>
          <span class='tooltip rounded shadow-lg py-2 px-4 bg-indigo-500 text-white -mt-16 text-xs max-w-xxs'>Progress towards all items having at least 30 votes to be statistically relevant.</span>
          <i class="fa-duotone fa-circle-info"></i>
        </span>
      </dt>
      <dd class="mt-1 text-3xl font-semibold text-gray-900">
        <%= @collection.rank_confidence.round(3) %>%
        <div class="relative pt-1">
          <div class="overflow-hidden h-2 text-xs flex rounded bg-purple-200">
              <div style="width:<%= @collection.rank_confidence %>%"
                  class="shadow-none flex flex-col text-center whitespace-nowrap text-white justify-center bg-indigo-500">
              </div>
          </div>
        </div>
      </dd>
    </div>
  </dl>