<% title "#{@collection.name} NFT Leaderboard" %>
<header class="bg-white shadow">
  <div class="px-4 py-6 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between md:space-x-5">
      <div class="flex items-start space-x-5">
        <div class="flex-shrink-0">
          <div class="relative">
            <img class="w-16 h-16 rounded-full" src="<%= @collection.image_url %>" alt="">
            <span class="absolute inset-0 rounded-full shadow-inner" aria-hidden="true"></span>
          </div>
        </div>
        <div class="pt-2.5">
          <h1 class="text-4xl font-bold text-gray-900"><%= @collection.name %></h1>
        </div>
        <div class="py-3 pl-5">
          <nav class="flex space-x-4" aria-label="Tabs">
            <!-- Current: "bg-indigo-100 text-indigo-700", Default: "text-gray-500 hover:text-gray-700" -->
            <a href="<%= collection_path(@collection.slug) %>" class="px-3 py-2 text-sm font-medium text-gray-500 rounded-md hover:text-gray-700">
              Battle
            </a>

            <a href="<%= ranking_collection_path(@collection.slug) %>" class="px-3 py-2 text-sm font-medium text-gray-500 rounded-md hover:text-gray-700">
              Rankings
            </a>

            <a href="<%= leaderboard_collection_path(@collection.slug) %>" class="px-3 py-2 text-sm font-medium text-gray-500 text-indigo-700 bg-indigo-100 rounded-md hover:text-gray-700">
              Leaderboard
            </a>
          </nav>
        </div>
      </div>
      <div class="flex my-2">
        <%= render "links" %>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="max-w-5xl pb-6 mx-auto sm:px-6 lg:px-8">

    <div class="px-4 pb-4 mt-4 sm:px-0">

      <% if !@current_wallet.present? %>
      <div class="p-4 mb-4 border-2 border-indigo-400 rounded-md bg-indigo-50">
        <div class="flex">
          <div class="flex-shrink-0">
            <!-- Heroicon name: solid/information-circle -->
            <svg class="text-indigo-400 h-7 w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
            </svg>
          </div>
          <div class="flex-1 ml-3 md:flex md:justify-between">
            <p class="text-lg text-indigo-700">
              Connect your wallet to start working your way up the leaderboard!
            </p>
          </div>
        </div>
      </div>
      <% end %>

      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
            <div class="overflow-hidden border-b border-gray-200 shadow sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      <span class="sr-only">Position</span>
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase">
                      User
                    </th>
                    <th scope="col" class="px-6 py-3 text-xs font-medium tracking-wider text-right text-gray-500 uppercase">
                      Votes
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                <% cache(['v4', "leaderboard-#{@collection.id}"], expires_in: 1.hours) do %>
                <% @leaders.each_with_index do |leader, index| %>
                  <tr>
                    <td class="w-px py-4 pl-6 text-sm text-center text-gray-400 whitespace-nowrap">
                      <%= index + 1 %>
                    </td>
                    <% 
                      if leader[0][0].present?
                        cache_name = "wallet-#{leader[0][0]}"
                      elsif leader[0][1].present?
                        cache_name = "discord-#{leader[0][1]}"
                      end

                      cache(['v3', "leaderboard-#{@collection.id}-#{cache_name}"], expires_in: 12.hours) do 
                    %>
                    <% wallet = Wallet.find(leader[0][0]) if leader[0][0].present? %>
                    <% discord_user = @discord.user(leader[0][1]) if leader[0][1].present? %>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 w-10 h-10">
                        <% if wallet.present? %>
                          <img src="https://abstract.cool/<%=wallet.address%>.png" class="inline w-10 h-10 mr-1 rounded-full" />
                        <% elsif discord_user.present? %>
                          <img src="<%=discord_user.avatar_url %>" class="w-10 h-10 rounded-full" />
                        <% end %>
                        </div>
                        <div class="ml-4">
                          <div class="text-sm font-medium text-gray-900">
                            <% if wallet.present? %>
                              <%= render partial: "shared/address", locals: {address: wallet.address} %>
                            <% elsif discord_user.present? %>
                              <%=discord_user.name %> <i class="ml-1 text-gray-300 fa-brands fa-discord"></i>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </td>
                    <% end %>
                    <td class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap">
                      <span class="inline-flex px-6 py-3 text-lg font-semibold leading-5 text-green-800 bg-green-100 rounded-full"><%=leader[1]%></span>
                    </td>
                  </tr>
                  <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>