<% title "#{@collection.name} NFT Visual Ranking" %>
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between md:space-x-5">
      <div class="flex items-start space-x-5">
        <div class="flex-shrink-0">
          <div class="relative">
            <img class="h-16 w-16 rounded-full" src="<%= @collection.image_url %>" alt="">
            <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
          </div>
        </div>
        <div class="pt-2.5">
          <h1 class="text-4xl font-bold text-gray-900"><%= @collection.name %></h1>
        </div>
        <div class="py-3 pl-5">
          <nav class="flex space-x-4" aria-label="Tabs">
            <!-- Current: "bg-indigo-100 text-indigo-700", Default: "text-gray-500 hover:text-gray-700" -->
            <a href="<%= collection_path(@collection.slug) %>" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Battle
            </a>

            <a href="<%= ranking_collection_path(@collection.slug) %>" class="bg-indigo-100 text-indigo-700  text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Rankings
            </a>

            <a href="<%= leaderboard_collection_path(@collection.slug) %>" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Leaderboard
            </a>
          </nav>
        </div>
      </div>
      <div class="flex my-2">
        <%= render "links" %>
      </div>
    </div>
  </div>
</header>
<main>
  <div class="max-w-7xl mx-auto pb-6 sm:px-6 lg:px-8">
    <%= render "stats" %>

    <%= render "confidence_note" %>

    <% if params[:trait].present? %>
    <div class="my-5">
      <% params[:trait].each do |trait| %>
      <span class="inline-flex rounded-full items-center py-0.5 pl-3.5 pr-3 text-lg font-medium bg-indigo-100 text-indigo-700">
        <%=trait['type']%>: <%=trait['value']%>
        <a href="<%= ranking_collection_path(@collection.slug) %>" class="flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-indigo-400 hover:bg-indigo-200 hover:text-indigo-500 focus:outline-none focus:bg-indigo-500 focus:text-white">
          <span class="sr-only">Remove large option</span>
          <svg class="h-2 w-2" stroke="currentColor" fill="none" viewBox="0 0 8 8">
            <path stroke-linecap="round" stroke-width="1.5" d="M1 1l6 6m0-6L1 7" />
          </svg>
        </a>
      </span>
      <% end %>
    </div>
    <% end %>

    <div class="px-4 pb-4 sm:px-0">
      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      <span class="sr-only">Position</span>
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Asset
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Current Price
                    </th>
                    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Score
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">

                  <% @assets.each do |asset| %>
                  <tr>
                    <td class="pl-6 py-4 whitespace-nowrap text-gray-400 text-sm w-px text-center">
                      <%= asset.ranking.rank %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 h-20 w-20">
                        <a href="<%=collection_asset_path(@collection.slug, asset.token_id)%>">
                          <img class="h-20 w-20 rounded-lg" src="<%=asset.image_thumbnail_url%>" alt="">
                          </a>
                        </div>
                        <div class="ml-4 max-w-md">
                          <div class="text-lg font-medium text-gray-900 text-ellipsis truncate">
                            <a href="<%=collection_asset_path(@collection.slug, asset.token_id)%>" class="hover:text-indigo-500 "><%=asset.formatted_name%></a>
                          </div>
                          <div class="text-sm">
                            <a href="<%=asset.opensea_link %>" target="_blank">OpenSea</a> 
                            <% if asset.external_link.present? %>
                            - <a href="<%=asset.external_link %>" target="_blank">Project</a>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </td>
                    
                    <td class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium w-56">
                    <% if asset.current_sale_price.present? and asset.current_sale_token.present? %>
                    <a href="<%=asset.opensea_link %>" target="_blank">
                      <%= asset.current_sale_price.to_f / (10**asset.current_sale_token_decimals) %> <%=asset.current_sale_token %> <i class="fa-duotone fa-sack-dollar text-green-500"></i>
                    </a>
                    <% end %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium w-px">
                      <p class="py-3 px-6 inline-flex text-lg leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                        <%=asset.ranking.elo_rating.round %>
                      </p>
                      <p class="text-xs text-gray-400 pt-1"><%= pluralize(asset.ranking.votes_count, 'vote') %></p>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <%= paginate @assets, window: 1, outer_window: 3 %>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>