<% title "#{@collection.name} NFT Visual Ranking" %>
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between md:space-x-5">
      <div class="flex items-start space-x-5">
        <div class="flex-shrink-0">
          <div class="relative">
            <img class="h-16 w-16 rounded-full" src="<%= @collection.image_url %>" alt="">
            <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
          </div>
        </div>
        <div class="pt-2.5">
          <h1 class="text-4xl font-bold text-gray-900"><%= @collection.name %></h1>
        </div>
        <div class="py-3 pl-5">
          <nav class="flex space-x-4" aria-label="Tabs">
            <!-- Current: "bg-indigo-100 text-indigo-700", Default: "text-gray-500 hover:text-gray-700" -->
            <a href="<%= collection_path(@collection.slug) %>" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Battle
            </a>

            <a href="<%= ranking_collection_path(@collection.slug) %>" class="bg-indigo-100 text-indigo-700  text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Rankings
            </a>
          </nav>
        </div>
      </div>
        <div class="flex my-2">
          <% if @collection.discord_url.present? %>
            <a href="<%=@collection.discord_url%>"><i class="fa-brands fa-discord h-5 w-5 bg-gray-300 p-2 text-white rounded-lg mx-1 hover:bg-indigo-500"></i></a>
          <% end %>
          <% if @collection.twitter_username.present? %>
          <a href="https://twitter.com/<%=@collection.twitter_username%>"><i class="fa-brands fa-twitter h-5 w-5 bg-gray-300 p-2 text-white rounded-lg mx-1 hover:bg-blue-500"></i></a>
          <% end %>
          <% if @collection.instagram_username.present? %>
          <a href="https://instagram.com/<%=@collection.instagram_username%>"><i class="fa-brands fa-instagram h-5 w-5 bg-gray-300 p-2 text-white rounded-lg mx-1 hover:bg-pink-500"></i></a>
          <% end %>
          <% if @collection.external_url.present? %>
          <a href="<%=@collection.external_url%>"><i class="fa-duotone fa-browser h-5 w-5 bg-gray-300 p-2 text-white rounded-lg mx-1 hover:bg-green-500"></i></a>
          <% end %>
        </div>
    </div>
  </div>
</header>
<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">

    <% if @percent_done < 100 %>
    <div class="rounded-md bg-yellow-50 p-4">
      <div class="flex">
        <div class="flex-shrink-0">
          <!-- Heroicon name: solid/exclamation -->
          <svg class="h-5 w-5 text-yellow-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <h3 class="text-sm font-medium text-yellow-800">
            Note about score & ranking
          </h3>
          <div class="mt-2 text-sm text-yellow-700">
            <p>
              This project is still in the initial ranking phase. Not all items have been voted on yet and as such, the scores and ranking will still change.
            </p>
          </div>
        </div>
      </div>
    </div>
    <% end %>

    <div class="px-4 py-4 sm:px-0">

      


      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      <span class="sr-only">Position</span>
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Asset
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Current Price
                    </th>
                    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Score
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">

                  <% @assets.each_with_index do |asset, index| %>
                  <tr>
                    <td class="pl-6 py-4 whitespace-nowrap text-gray-400 text-sm w-px text-center">
                      <%=index + 1%>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 h-20 w-20">
                          <img class="h-20 w-20 rounded-lg" src="<%=asset.image_thumbnail_url%>" alt="">
                        </div>
                        <div class="ml-4">
                          <div class="text-lg font-medium text-gray-900">
                            <%=asset.name%>
                          </div>
                          <div class="text-sm">
                            <a href="<%=asset.opensea_link %>" target="_blank">OpenSea</a> 
                            - <a href="<%=asset.external_link %>" target="_blank">Project</a>
                          </div>
                        </div>
                      </div>
                    </td>
                    
                    <td class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium w-56">
                    <% if asset.current_sale_price.present? %>
                    <a href="<%=asset.opensea_link %>" target="_blank">
                      <%= asset.current_sale_price.to_f / (10**asset.current_sale_token_decimals) %> <%=asset.current_sale_token %> <i class="fa-duotone fa-sack-dollar text-green-500"></i>
                    </a>
                    <% end %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium w-px">
                      <p class="py-3 px-6 inline-flex text-lg leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                        <%=asset.elo_rating.round %>
                      </p>
                      <p class="text-xs text-gray-400 pt-1"><%= pluralize(asset.votes_count, 'vote') %></p>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>