<% title "#{@collection.name} NFT Visual Battle" %>
<% meta_image(@collection.image_url.sub('s120', 's600')) if @collection.image_url.present? %>

<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between md:space-x-5">
      <div class="flex items-start space-x-5 flex-wrap">
        <div class="flex-shrink-0">
          <div class="relative">
            <img class="h-16 w-16 rounded-full" src="<%= @collection.image_url %>" alt="">
            <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
          </div>
        </div>

        <div class="pt-2.5">
          <h1 class="text-4xl font-bold text-gray-900"><%= @collection.name %></h1>
        </div>
    
        <div class="py-3 pl-5">
          <nav class="flex space-x-4" aria-label="Tabs">
            <a href="<%= collection_path(@collection.slug) %>" class="bg-indigo-100 text-indigo-700 text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Battle
            </a>

            <a href="<%= ranking_collection_path(@collection.slug) %>" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Rankings
            </a>

            <a href="<%= leaderboard_collection_path(@collection.slug) %>" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Leaderboard
            </a>
          </nav>
        </div>
        
        
      </div>
      <div class="flex my-2">
        <%= render "links" %>
      </div>
    </div>
  </div>
</header>
<main>
  <%= turbo_frame_tag "choose_image" do %>
  <div class="max-w-7xl mx-auto pb-6 sm:px-6 lg:px-8">
    
    <%= render "stats" %>

    <% if !@current_wallet.present? %>
    <div class="rounded-md bg-indigo-50 p-4 mb-4 border-2 border-indigo-400 mx-2 md:mx-0 hidden md:block">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-7 w-7 text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z" clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3 flex-1 md:flex md:justify-between">
          <p class="text-lg text-indigo-700">
            Connect your wallet to start working your way up the leaderboard!
          </p>
        </div>
      </div>
    </div>
    <% end %>

    <div class="pb-4 sm:px-0 relative px-2 md:px-0">
      
      <div class="bg-white overflow-hidden shadow rounded-lg relative">
        <% if @vote_throttle %>
        <div class="absolute w-full bg-white bg-opacity-75" style="z-index:10000" aria-labelledby="modal-title" role="dialog" aria-modal="true">
          <div class="flex items-start justify-start h-screen pt-20 px-4 pb-10 mt-28 text-center sm:block sm:p-0">

            <span class="hidden inline-block align-middle" aria-hidden="true">&#8203;</span>

            <div class="inline-block align-top bg-white rounded-lg px-4 mt-10 pb-4 text-center overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-sm sm:w-full sm:p-6">
              <div>
                <div class="mx-auto flex items-center text-center justify-center h-20 w-20 rounded-full">
                  <i class="fa-duotone fa-igloo h-20 w-20 text-blue-500"></i>
                </div>
                <div class="mt-3 text-center sm:mt-5">
                  <h3 class="text-xl leading-4 font-bold text-gray-900" id="modal-title">
                    Cooldown Period
                  </h3>
                  <div class="mt-2">
                    <p class="text-md text-gray-500 mb-3">
                      You're doing an amazing job battling <%= @collection.name %>, with <b><%= @recent_vote_count %> battles</b> in the past hour! 
                    </p>
                    <p class="text-xs text-gray-500">To keep the rankings for this collection balanced, you'll need to take a little break and check out some other collections for a few minutes!</p>
                  </div>
                </div>
              </div>
              <div class="mt-5 sm:mt-6">
                <a href="/" target="_top" class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
                  View other collections
                </a>
              </div>
            </div>
          </div>
        </div>
        <% end %>

        <div class="px-4 pt-7 sm:px-6">
          <h2 class="text-3xl md:text-4xl font-bold text-gray-900 text-center">Which one do you like more?</h2>
        </div>
        
        <div class="px-2 md:px-4 p-0 sm:p-6">
          <ul role="list" class="grid grid-cols-2 gap-x-0 md:gap-x-4 gap-y-8 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-2 xl:gap-x-8" data-controller="vote"<% unless @vote_throttle %> data-action="keyup@window->vote#keypress"<% end %>>
            
            <li class="relative item_first">
              <%= link_to votes_battle_path(@item_first.id, @item_last.id), 'data-action': 'click->vote#toggle', 'data-vote-target': 'itemFirst' do %>
              <div class="group block w-full aspect-w-1 aspect-h-1 rounded-3xl bg-white border-8 border-transparent hover:border-green-500 overflow-hidden">

                <div data-vote-target="element" class="voted opacity-0 bg-black bg-opacity-70 flex justify-center items-center transition-all duration-100"><i class="fa-duotone fa-circle-check text-9xl text-green-500"></i></div>

                
                <img src="<%=@item_first.image_url%>" alt="" class="object-cover pointer-events-none <%= 'bg-gray-100' if @item_first.background_color.blank? %>" <%= %Q[style=background-color:##{@item_first.background_color}] if @item_first.background_color.present? %>>
                
                
              </div>
              <% end %>
              <p class="px-0 pb-3 md:px-3 text-sm text-center text-gray-500 font-medium hover:text-indigo-500"><a href="<%= collection_asset_url(@item_first.collection.slug, @item_first.token_id) %>" data-turbo-frame="_top"><%= @item_first.formatted_name %> <i class="fa-duotone fa-square-up-right"></i></a></p>
            </li>

            <li class="relative item_last">
              <%= link_to votes_battle_path(@item_last.id, @item_first.id), 'data-action': 'click->vote#toggle', 'data-vote-target': 'itemLast' do %>
              <div class="group block w-full aspect-w-1 aspect-h-1 rounded-3xl bg-white border-8 border-transparent hover:border-green-500 overflow-hidden">

                <div data-vote-target="element" class="voted opacity-0 bg-black bg-opacity-70 flex justify-center items-center transition-all duration-100"><i class="fa-duotone fa-circle-check text-9xl text-green-500"></i></div>
                
               
                <img src="<%=@item_last.image_url%>" alt="" class="object-cover pointer-events-none <%= 'bg-gray-100' if @item_last.background_color.blank? %>" <%= %Q[style=background-color:##{@item_last.background_color}] if @item_last.background_color.present? %>>
                
                
              </div>
              <% end %>
              <p class="px-0 pb-3 md:px-3 text-sm text-center text-gray-500 font-medium hover:text-indigo-500"><a href="<%= collection_asset_url(@item_last.collection.slug, @item_last.token_id) %>" data-turbo-frame="_top"><%= @item_last.formatted_name %> <i class="fa-duotone fa-square-up-right"></i></a></p>
            </li>

          </ul>
        </div>
    

      </div>



    </div>
  </div>
  <% end %>
</main>