<% title "#{@collection.name} NFT Visual Battle" %>
<% meta_image(@collection.image_url.sub('s120', 's600')) if @collection.image_url.present? %>

<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <div class="md:flex md:items-center md:justify-between md:space-x-5">
      <div class="flex items-start space-x-5">
        <div class="flex-shrink-0">
          <div class="relative">
            <img class="h-16 w-16 rounded-full" src="<%= @collection.image_url %>" alt="">
            <span class="absolute inset-0 shadow-inner rounded-full" aria-hidden="true"></span>
          </div>
        </div>

        <div class="pt-2.5">
          <h1 class="text-4xl font-bold text-gray-900"><%= @collection.name %></h1>
        </div>
    
        <div class="py-3 pl-5">
          <nav class="flex space-x-4" aria-label="Tabs">
            <!-- Current: "bg-indigo-100 text-indigo-700", Default: "text-gray-500 hover:text-gray-700" -->
            <a href="<%= collection_path(@collection.slug) %>" class="bg-indigo-100 text-indigo-700 text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Battle
            </a>

            <a href="<%= ranking_collection_path(@collection.slug) %>" class="text-gray-500 hover:text-gray-700 px-3 py-2 font-medium text-sm rounded-md">
              Rankings
            </a>
          </nav>
        </div>
        
        
      </div>
        <div class="flex my-2">
          <% if @collection.discord_url.present? %>
            <a href="<%=@collection.discord_url%>"><i class="fa-brands fa-discord h-5 w-5 bg-gray-300 p-2 text-white rounded-lg mx-1 hover:bg-indigo-500"></i></a>
          <% end %>
          <% if @collection.twitter_username.present? %>
          <a href="https://twitter.com/<%=@collection.twitter_username%>"><i class="fa-brands fa-twitter h-5 w-5 bg-gray-300 p-2 text-white rounded-lg mx-1 hover:bg-blue-500"></i></a>
          <% end %>
          <% if @collection.instagram_username.present? %>
          <a href="https://instagram.com/<%=@collection.instagram_username%>"><i class="fa-brands fa-instagram h-5 w-5 bg-gray-300 p-2 text-white rounded-lg mx-1 hover:bg-pink-500"></i></a>
          <% end %>
          <% if @collection.external_url.present? %>
          <a href="<%=@collection.external_url%>"><i class="fa-duotone fa-browser h-5 w-5 bg-gray-300 p-2 text-white rounded-lg mx-1 hover:bg-green-500"></i></a>
          <% end %>
        </div>
    </div>
  </div>
</header>
<main>
  <%= turbo_frame_tag "choose_image" do %>
  <div class="max-w-7xl mx-auto pb-6 sm:px-6 lg:px-8">
    
    <%= render "stats" %>

    <div class="px-4 py-4 sm:px-0">

      <div class="bg-white overflow-hidden shadow rounded-lg">
        <div class="px-4 pt-7 sm:px-6">
          <h2 class="text-4xl font-bold text-gray-900 text-center">Which one do you like more?</h2>
        </div>
        
        <div class="px-4 p-0 sm:p-6">
          <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-2 xl:gap-x-8" data-controller="vote">
            
            <li class="relative">
              <%= link_to votes_battle_path(@item_first.id, @item_last.id), 'data-action': 'click->vote#toggle' do %>
              <div class="group block w-full aspect-w-1 aspect-h-1 rounded-3xl bg-white border-8 border-transparent hover:border-green-500 overflow-hidden">

                <div data-vote-target="element" class="voted opacity-0 bg-black bg-opacity-70 flex justify-center items-center transition-all duration-100"><i class="fa-duotone fa-circle-check text-9xl text-green-500"></i></div>

                <% if !browser.device.mobile? and @item_first.animation_url.present? %>
                <video class="object-cover pointer-events-none" autoplay loop muted style="background:url('<%=@item_first.image_url%>') 50% 50%;background-size: cover;">
                  <source src="<%=@item_first.animation_url%>" type="video/mp4">
                </video>
                <% else %>  
                <img src="<%=@item_first.image_url%>" alt="" class="object-cover pointer-events-none <%= 'bg-gray-100' if @item_first.background_color.blank? %>" <%= %Q[style=background-color:##{@item_first.background_color}] if @item_first.background_color.present? %>>
                <% end %>
                
              </div>
              <% end %>
              <p class="pt-3 text-sm text-center text-gray-500 font-medium hover:text-indigo-500"><a href="<%= @item_first.opensea_link %>" target="_blank"><%= @item_first.name %> <i class="fa-duotone fa-square-up-right"></i></a></p>
            </li>

            <li class="relative">
              <%= link_to votes_battle_path(@item_last.id, @item_first.id), 'data-action': 'click->vote#toggle' do %>
              <div class="group block w-full aspect-w-1 aspect-h-1 rounded-3xl bg-white border-8 border-transparent hover:border-green-500 overflow-hidden">

                <div data-vote-target="element" class="voted opacity-0 bg-black bg-opacity-70 flex justify-center items-center transition-all duration-100"><i class="fa-duotone fa-circle-check text-9xl text-green-500"></i></div>
                
                <% if !browser.device.mobile? and @item_last.animation_url.present? %>
                <video class="object-cover pointer-events-none" autoplay loop>
                  <source src="<%=@item_last.animation_url%>" type="video/mp4">
                </video>
                <% else %>  
                <img src="<%=@item_last.image_url%>" alt="" class="object-cover pointer-events-none <%= 'bg-gray-100' if @item_last.background_color.blank? %>" <%= %Q[style=background-color:##{@item_last.background_color}] if @item_last.background_color.present? %>>
                <% end %>
                
              </div>
              <% end %>
              <p class="pt-3 text-sm text-center text-gray-500 font-medium hover:text-indigo-500"><a href="<%= @item_last.opensea_link %>" target="_blank"><%= @item_last.name %> <i class="fa-duotone fa-square-up-right"></i></a></p>
            </li>


          </ul>
        </div>
    

      </div>



    </div>
  </div>
  <% end %>
</main>