<% title "Wallet" %>
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-4xl font-bold text-gray-900"><%= render partial: "shared/address", locals: {address: @current_wallet.address} %></h1>
  </div>
</header>

<main>
  <div class="max-w-7xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="px-4 pb-4 sm:px-0">
      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Asset
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Collection
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Current Price
                    </th>
                    <th scope="col" class="px-6 py-3 text-center text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Rank
                    </th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">

                  <% @assets.each do |asset| %>
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <div class="flex-shrink-0 h-20 w-20">
                        <a href="<%=collection_asset_path(asset.collection.slug, asset.token_id)%>">
                          <img class="h-20 w-20 rounded-lg" src="<%=asset.image_thumbnail_url%>" alt="">
                          </a>
                        </div>
                        <div class="ml-4">
                          <div class="text-lg font-medium text-gray-900">
                            <a href="<%=collection_asset_path(asset.collection.slug, asset.token_id)%>" class="hover:text-indigo-500">
                              <%=asset.formatted_name%>
                            </a>
                          </div>
                          <div class="text-sm">
                            <a href="<%=asset.opensea_link %>" target="_blank">OpenSea</a> 
                            <% if asset.external_link.present? %>
                            - <a href="<%=asset.external_link %>" target="_blank">Project</a>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium w-56">
                    <%= link_to asset.collection.name, collection_path(asset.collection.slug) %>
                    </td>
                    
                    <td class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium w-56">
                    <% if asset.current_sale_price.present? %>
                    <a href="<%=asset.opensea_link %>" target="_blank">
                      <%= asset.current_sale_price.to_f / (10**asset.current_sale_token_decimals) %> <%=asset.current_sale_token %> <i class="fa-duotone fa-sack-dollar text-green-500"></i>
                    </a>
                    <% end %>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-center text-sm font-medium w-px">
                      <p class="py-3 px-6 inline-flex text-lg leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                        <%=asset.ranking.rank %>
                      </p>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <%#= paginate @assets, window: 1, outer_window: 3 %>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>