<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= content_for?(:title) ? ("#{yield(:title)} - Vibe Wars").html_safe : "Vibe Wars: NFT Visual Battles" %></title>
    <meta name="title" content="Vibe Wars">
    <meta name="description" content="<%= content_for?(:description) ? (yield(:description)) : "Find out which NFTs are the most visually desirable! In a set of thousands of NFTs, which ones do people actually like the look of the most?" %>">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://vibewars.com">
    <meta property="og:title" content="<%= content_for?(:title) ? ("#{yield(:title)} - Vibe Wars") : "Vibe Wars: NFT Visual Battles" %>">
    <meta property="og:description" content="<%= content_for?(:description) ? (yield(:description)) : "Find out which NFTs are the most visually desirable! In a set of thousands of NFTs, which ones do people actually like the look of the most?" %>">
    <meta property="og:image" content="<%= image_url(content_for?(:meta_image) ? yield(:meta_image) : "meta.png") %>">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://vibewars.com">
    <meta property="twitter:title" content="<%= content_for?(:title) ? ("#{yield(:title)} - Vibe Wars") : "Vibe Wars: NFT Visual Battles" %>">
    <meta property="twitter:description" content="<%= content_for?(:description) ? (yield(:description)) : "Find out which NFTs are the most visually desirable! In a set of thousands of NFTs, which ones do people actually like the look of the most?" %>">
    <meta property="twitter:image" content="<%= image_url(content_for?(:meta_image) ? yield(:meta_image) : "meta.png") %>">

    <link rel="apple-touch-icon" sizes="57x57" HREF="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" HREF="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" HREF="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" HREF="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" HREF="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" HREF="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" HREF="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" HREF="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" HREF="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  HREF="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" HREF="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" HREF="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" HREF="/favicon-16x16.png">
    <link rel="manifest" HREF="/manifest.json">
    <meta name="msapplication-TileColor" content="#4e46e5">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#4e46e5">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/58f3deb2bd.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <script type="text/javascript" src="https://unpkg.com/web3modal@1.9.0/dist/index.js"></script>
    <script type="text/javascript" src="https://cdn.ethers.io/lib/ethers-5.1.umd.min.js"></script>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.usefathom.com/script.js" data-site="MLLOEFAH" defer></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NNP25T9TPK"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '<%= ENV['GA'] %>');
    </script>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-full">
      <div class="min-h-full">
        <nav class="bg-indigo-600" data-controller="menu">
          <div class="max-w-7xl mx-auto px-2 sm:px-4 lg:px-8">
            <div class="relative flex items-center justify-between h-16">
              <div class="flex items-center px-2 lg:px-0">
                <div class="flex-shrink-0">
                  <p class="text-4xl text-center text-white align-middle">
                  <a href="/">
                    <i class="fa-duotone fa-poo-storm"></i>
                    <span class="text-3xl font-bold align-top lowercase">Vibe Wars</span>
                  </a>
                  </p>
                </div>
                <div class="hidden lg:block lg:ml-6">
                  <div class="flex space-x-4">
                    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                    <a href="/" class="text-gray-300 hover:bg-indigo-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Collections</a>
                    <a href="/leaderboard" class="text-gray-300 hover:bg-indigo-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Leaderboard</a>
                    <a href="/submit-project" class="text-gray-300 hover:bg-indigo-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Submit Project</a>
                  </div>
                </div>
              </div>
              <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end hidden lg:block">
                <form action="/search" class="max-w-lg w-full lg:max-w-xs">
                  <label for="search" class="sr-only">Search</label>
                  <div class="relative">
                    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                      <!-- Heroicon name: solid/search -->
                      <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                      </svg>
                    </div>

                    <input id="search" name="term" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-indigo-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 sm:text-sm" placeholder="Search for a collection" type="search">
                  </div>
                </form>
              </div>


              <div class="flex lg:hidden">
                <!-- Mobile menu button -->
                <button data-action="click->menu#toggle" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                  <span class="sr-only">Open main menu</span>
                  <!--
                    Icon when menu is closed.

                    Heroicon name: outline/menu

                    Menu open: "hidden", Menu closed: "block"
                  -->
                  <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                  </svg>
                  <!--
                    Icon when menu is open.

                    Heroicon name: outline/x

                    Menu open: "block", Menu closed: "hidden"
                  -->
                  <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                  </svg>
                </button>
              </div>
              <div class="hidden lg:block lg:ml-4">
                <div class="flex items-center">
                  <% if @current_wallet %>
                    <a href="/wallets/<%=@current_wallet.address%>" class="text-white font-bold">
                      <img src="https://abstract.cool/<%=@current_wallet.address%>.png" class="h-8 w-8 rounded-full inline mr-1" />
                      <%= render partial: "shared/address", locals: {address: @current_wallet.address} %>
                    </a>
                  <% else %>
                    <button data-controller="wallet" data-action="click->wallet#connectWallet" type="button" class="relative w-full items-center px-4 py-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-500 hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                      Connect Wallet
                    </button>
                  <% end %>
                </div>
              </div>
              
            </div>
          </div>

          <!-- Mobile menu, show/hide based on menu state. -->
          <div data-menu-target="toggleable" class="hidden" id="mobile-menu">
            <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
              <form action="/search" class="max-w-lg w-full lg:max-w-xs">
                <label for="search" class="sr-only">Search</label>
                <div class="relative">
                  <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                    <!-- Heroicon name: solid/search -->
                    <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                  </div>

                  <input id="search" name="term" class="block w-full pl-10 pr-3 py-2 border border-transparent rounded-md leading-5 bg-indigo-700 text-gray-300 placeholder-gray-400 focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 sm:text-sm" placeholder="Search for a collection" type="search">
                </div>
              </form>
            </div>
            <div class="px-2 pt-2 pb-3 space-y-1">
              <a href="/" class="text-gray-300 hover:bg-indigo-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Collections</a>
              <a href="/leaderboard" class="text-gray-300 hover:bg-indigo-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Leaderboard</a>
              <a href="/submit-project" class="text-gray-300 hover:bg-indigo-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">Submit Project</a>
            </div>
          </div>
        </nav>
    
  
        <%= yield %>
    
      </div>
      
    <footer class="bg-white">
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 md:flex md:items-center md:justify-between lg:px-8">
        <div class="flex justify-center space-x-6 md:order-2 text-2xl">
          <a href="https://twitter.com/VibeWarsNFT" class="text-gray-400 hover:text-blue-500">
            <span class="sr-only">Twitter</span>
            <i class="fa-brands fa-twitter"></i>
          </a>

          <a href="https://discord.gg/z2pSNksZjJ" class="text-gray-400 hover:text-indigo-500">
            <span class="sr-only">Discord</span>
            <i class="fa-brands fa-discord"></i>
          </a>

          <a href="https://github.com/Shpigford/vibewars" class="text-gray-400 hover:text-black">
            <span class="sr-only">Github</span>
            <i class="fa-brands fa-github"></i>
          </a>
        </div>
        <div class="mt-8 md:mt-0 md:order-1">
          <p class="text-center text-base text-gray-400">
            &copy; <%= Date.today.year %> Sabotage Media, LLC. All rights reserved. <a href="/submit-project" class="rounded-full py-2 px-3 text-xs ml-2 bg-indigo-500 text-white hover:bg-indigo-700">Apply to have your project added &rarr;</a>
          </p>
        </div>
      </div>
    </footer>

  </body>
</html>
